:root {
    --font-mono: "IBM Plex Mono", monospace;
    --font-sans: "IBM Plex Sans", sans-serif;

    --width-screen: min(100rem, 100%);

    --color-main-bg: #111111;
    --color-main-text: #ffffff;
    --color-interlude-dark: #333333;
    --color-interlude-clear: #999999;
    --color-svg-filter: 1;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans);
    background-color: var(--color-main-bg);
    color: var(--color-main-text);
}

a {
    color: var(--color-interlude-clear);
    text-decoration: none;
    transition: color 0.25s ease-out;

    &:hover {
        color: var(--color-main-text);
    }
}

h1.main-title {
    font-size: 3rem;
}

pre,
code {
    font-family: var(--font-mono);    
}

li > code,
p > code {
    font-weight: 400;
    display: inline-block;
    margin: 0 0.3rem;
    color: var(--color-interlude-clear);

}

header, main, footer {
    & > div {
        width: var(--width-screen);
        margin: 0 auto;
        padding: 2rem;
    }
}

header {
    & > div {
        border-bottom: 1px solid var(--color-interlude-dark);
    }
}

main {
    flex: 1;
    
}

footer {
    --icon-color: var(--color-main-text);
    --icon-size: 2rem;
    
    & > div {
        & > div.modules {
            --col-gap: 2rem;
            --col-width: 20rem;
        }
    }

    & > div.bottom-line {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--color-interlude-dark);
        font-family: var(--font-mono);
        font-weight: 200;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & a {
            font-weight: 700;
        }
    }
}

.article-with-side-bar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;

    & > aside:first-child {
        flex: 2.7;

        & > nav {
            margin-bottom: 3rem;
        }
    }

    & > aside.toc {
        flex: 3;

        & > nav {
            padding: 0 2rem;
            position: sticky;
            top: 2.5rem;
            border-left: 1px solid var(--color-interlude-dark);

            & a.toc-entry-active {
                color: var(--color-main-text);
            }
        }

    }

    & > section {
        flex: 7;
    }
}

.prev-next {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-interlude-dark);

    & h4 {
        font-family: var(--font-mono);
        text-transform: uppercase;
    }

    & > a {
        flex: 1;
    }

    & > a.previous {
        text-align: left;

         &::before {
            content: "↜";
            font-size: 200%;
            margin-right: 0.2rem;
        }
    }

    & > a.next {
        text-align: right;

        &::before {
            content: "↝";
            font-size: 200%;
            margin-left: 0.2rem;
        }
    }
}

.prose {
    font-family: var(--font-sans);
    font-size: 1.2rem;
    line-height: 1.5rem;

    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        font-size: var(--sz);
        line-height: var(--sz);
        margin-top: calc(var(--sz) * 1.9);
        margin-bottom: calc(var(--sz) * 1.2);
        font-weight: 900;
    }

    
    & h2 { --sz: 2.0rem; }
    & h3 { --sz: 1.7rem; }
    & h4 { --sz: 1.5rem; }
    & h4 { --sz: 1.3rem; }

    & p,
    & li {
        font-weight: 300;
        line-height: 2.2rem;
    }

    & p {
        margin: 1.25rem 0;
    }


    & blockquote {
        margin: 2.6rem 0;
        margin-left: 2rem;

    }

    & strong {
        font-weight: 500;
    }

    & img {
        display: block;
        filter: invert(var(--color-svg-filter));
        margin: 8rem auto;
        max-width: 100%;
    }
}

.hidden-toplevel {
    display: none;
}
