:root {
    --font-mono: "IBM Plex Mono", monospace;
    --font-sans: "IBM Plex Sans", sans-serif;

    --width-screen: min(100rem, 100%);
    --color-svg-filter: 1;

    --color-background: #111;
    --color-text: #fff;
    --color-text-minor: #999;
    --color-ui-border: #333;
    --color-ui-link: #999;
    --color-ui-link-hover: var(--color-text);
    --color-prose-link: var(--color-text);
    --color-prose-link-hover: var(--color-text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-ui-link);
    text-decoration: none;
    transition: color 0.25s ease-out;

    &:hover {
        color: var(--color-ui-link-hover);
    }
}

h1.main-title {
    font-size: 3rem;
}

pre,
code {
    font-family: var(--font-mono);    
}

li > code,
p > code {
    font-weight: 400;
    display: inline-block;
    margin: 0 0.3rem;
    color: var(--color-text-minor);

}

header, main, footer {
    & > div {
        width: var(--width-screen);
        margin: 0 auto;
        padding: 2rem;
    }
}

header {
    & > div {
        border-bottom: 1px solid var(--color-ui-border);
    }
}

main {
    flex: 1;
    
}

footer {
    --icon-color: var(--color-main-text);
    --icon-size: 2rem;
    
    & > div {
        & > div.modules {
            --col-gap: 2rem;
            --col-width: 20rem;
        }
    }

    & > div.bottom-line {
        --col-gap: 0rem;
        --container-width: 300px;
        --col-width: max(var(--container-width), 50%);
        container-type: inline-size;
        container-name: bottom-line;
        
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--color-ui-border);
        font-family: var(--font-mono);
        font-weight: 200;

        & a {
            font-weight: 700;
        }

        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            &:last-child {
                justify-self: flex-end;
            }

            @container bottom-line (width < 600px) {
                flex: 1;

                &:last-child {
                    text-align: left;
                    justify-self: flex-start;
                    flex-direction: row-reverse;
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

.article-container {
    container-type: inline-size;
    container-name: article-container;
}

.article-with-side-bar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;

    & > aside:first-child {
        flex: 2.7;

        & > nav {
            margin-bottom: 3rem;

            & .to-be-done {
                text-decoration-line: line-through;
            }
        }
    }

    & > aside.toc {
        flex: 3;

        & > nav {
            padding: 0 2rem;
            position: sticky;
            top: 2.5rem;
            border-left: 1px solid var(--color-ui-border);

            & a.toc-entry-active {
                color: var(--color-main-text);
            }
        }

    }

    & > section {
        flex: 7;
        container-type: inline-size;
        container-name: article-content;
    }

    @container article-container (width < 840px) {
        & > aside:first-child {
            display: none;
        }
    }
    
    @container article-container (width < 640px) {
        & > aside.toc {
            display: none;
        }
    }

}

.prev-next {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-ui-border);

    & h4 {
        font-family: var(--font-mono);
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }

    & > a {
        flex: 1;
        & > span.section-title {
            &::after {
                content: "/";
                margin: 0 0.4rem;
                color: var(--color-text-minor);
            }
        }
    }

    & > a.previous {
        text-align: left;

         &::before {
            content: "↜";
            font-size: 200%;
            margin-right: 0.2rem;
        }
    }

    & > a.next {
        text-align: right;

        &::before {
            content: "↝";
            font-size: 200%;
            margin-left: 0.2rem;
        }
    }

    @container article-content (width < 500px) {
        flex-direction: column-reverse;

        & > a.next {
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--color-ui-border);
        }
    }

    
}

.authors {
    & nav {

        padding: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        
        & > a {
            list-style: none;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            gap: 0.2rem;
            padding: 0.2rem 0.5rem;

            &.author {
                background-color: var(--color-ui-border);
                font-family: var(--font-mono);
                border-radius: 1rem;
                padding-right: 1rem;
            }

            & img.avatar {
                border-radius: 50%;
                width: 2rem;
                margin-right: 0.2rem;
            }
        }
    }
}

.prose {
    font-family: var(--font-sans);
    font-size: 1.2rem;
    line-height: 1.5rem;

    & a {
        color: var(--color-prose-link);
        text-decoration: none;
        border-bottom: 1px dotted var(--color-prose-link);
        font-weight: 500;

        &:hover {
            color: var(--color-prose-link-hover);
        }
    }

    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        font-size: var(--sz);
        line-height: var(--sz);
        margin-top: calc(var(--sz) * 1.9);
        margin-bottom: calc(var(--sz) * 1.2);
        font-weight: 900;
    }

    
    & h2 { --sz: 2.0rem; }
    & h3 { --sz: 1.7rem; }
    & h4 { --sz: 1.5rem; }
    & h4 { --sz: 1.3rem; }

    & p,
    & li {
        font-weight: 300;
        line-height: 1.8rem;
    }

    & p {
        margin: 1.25rem 0;
    }


    & blockquote {
        margin: 2.6rem 0;
        margin-left: 2rem;

    }

    & strong {
        font-weight: 500;
    }

    & img {
        display: block;
        filter: invert(var(--color-svg-filter));
        margin: 8rem auto;
        max-width: 100%;
    }
}

.hidden-toplevel {
    display: none;
}
