<!doctype html>
<html lang="en-US">
  <head>
    <title>{{ document.full_title }}</title>
    <link rel="canonical" href="{{ document.canonical.target }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% for meta in document.meta -%}
    <meta name="{{ meta.name }}" content="{{ meta.content }}">
    {% endfor -%}
    {% for meta in document.og -%}
    <meta property="{{ meta.name }}" content="{{ meta.content }}">
    {% endfor -%}
  </head>
  <body>
    {{safe (yocaml_body) }}
  </body>
</html>
