<section class="tutorial-header">
  <h1 class="main-title">{{ tutorial.title }}</h1>
  <section class="tutorial-info">
    <strong>Published on the</strong>
    <time datetime="{{ tutorial.publication_date.repr.datetime }}">
      {{ tutorial.publication_date.repr.date }}
    </time>
    {% if tutorial.has_modification_date %}
    <strong>updated on</strong>
    <time datetime="{{ tutorial.modification_date.repr.datetime }}">
      {{ tutorial.modification_date.repr.date }}
    </time>
    {% endif %}
  </section>
  {% if tutorial.authors.has_elements %}
  <section class="authors">
    <nav>
      <strong>Written by</strong>
      {% for author in tutorial.authors.elements %}
      <a href="{{ author.main_link.url.target }}"
         title="{{ author.main_link.name}}"
         class="author">
        <img class="avatar" alt="" src="{{ author.avatar.target }}"/>
        <span>{{ author.display_name }}</span>
      </a>
      {% endfor %}
    </nav>
  </section>
  {% endif %}
</section>


{% if tutorial.to_be_done %}

<section class="prose">
  <p>
    This page is currently <strong>being drafted</strong> and has not
    yet been published.
  </p>
  <p>
    If you are motivated, you can try <a href="{{
    document.source_url.target }}">to complete this page</a>!
  </p>
</section>

{% else %}

<section class="prose">
{{safe (tutorial.synopsis) }}
</section>

<article class="prose">
{{safe (yocaml_body) }}
</article>

{% endif %}
