<ul>
  {% for chapter in tutorial.sidebar -%}
  <li>
    <h2>{{ chapter.title}}</h2>
    {% for section in chapter.sections %}
  <li>
    
    <a href="{{ section.target }}" title="{{ section.description}}">
      {{ section.name}}
    </a>
  </li>
  {% endfor %}
  </li>
  
  {% endfor %}
</ul>


{{safe (yocaml_body) }}

{%- if tutorial.has_previous -%}
<div>
  <h2>{{ tutorial.previous.title}} > {{ tutorial.previous.name}}</h2>
  <p>
    {{ tutorial.previous.desc}}
  </p>
  {{ tutorial.previous.target }}
</div>
{%- endif -%}

{%- if tutorial.has_next -%}
<div>
  <h2>{{ tutorial.next.title}} > {{ tutorial.next.name}}</h2>
  <p>
    {{ tutorial.next.desc}}
  </p>
  {{ tutorial.next.target }}
</div>
{%- endif -%}
